div 
    label(for="title") Title 
    input(type="text" name="title" value= book.title)
div 
    label(for="author") Author 
    select(name="author")
        each author in authors 
            - if(author.id === book.author)
                option(value=author.id label=author.name selected=true) 
            - else 
                option(value=author.id label=author.name) 
div 
    label(for="publishDate") Publish Date 
    input(type="date" name="publishDate" value= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0])
div 
    label(for="pageCount") Page Count 
    input(type="number" name="pageCount" min="1" value= book.pageCount)
div  
    label(for="cover") Cover 
    input(type="file" name="cover" class="filepond")
div 
    label(for="description") Description 
    textarea(name="description") 
        | #{book.description}
 

